* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*border: grey 1px dotted;*/
}
.page {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    background: white;
    border-bottom: rgba(94%, 95%, 95%, 70%) 3px solid;
    /*ВОПРОС. В макете задан box-shadow, но не вижу, как задать его только снизу.*/
    /*Верно ли использовать border-bottom?*/
    position: sticky;
    top: 0;
    z-index: 99;
    padding-left: 8.333%;
    padding-right: 8.333%;
    /*height: 4.75em;*/
    align-items: center;
}
.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5% 0;
}
.menu-wrapper {
    display: flex;
}
.header__logo {
    display: flex;
    align-items: center;
}
.logo__image {
    display: inline-block;
    width: 51px;
    height: 36px;
}
#menu-toggle, .menu-icon {
    display: none;
}
.header-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3.2em;
}
.header__menu-list {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    gap: 1.875em;
}
.header__menu-item{
    display: flex;
    margin: 0;
}
.header__menu-link {
    font: 500 14px/114% "Montserrat", sans-serif;
    /*ВОПРОС. Как разные шрифты Montserrat из папки fonts подключать? Они по weight автоматически подключаются?*/
    letter-spacing: 0.25px;
}
.header__menu-link:hover/*, .header__menu-link_dropdown:hover*/ {
    text-decoration: underline;
}
.menu-item--dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-nav {
     display: none;
     position: absolute;
     z-index: 1;
}
.dropdown-nav__link {
    color: black;
    padding-top: 0.8em;
    display: block;
}
.menu-item--dropdown:hover .dropdown-nav {
    display: block;
}
.link-dropdown {
    background: url('../img/header_arrow.svg') right/14px 14px no-repeat;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.header__button {
    padding: 1em 1em 1em 1em;
    font: bold 16px "Montserrat", sans-serif;
    background: #E3F5F5;
    color: #03B2A5;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 1em 7.5em 5.625em 7.5em;
}
.main__way {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 0.375em;
    gap: 0.5em;
}
.main__place {
    color: rgb(20%, 20%, 20%, 0.7);
    font: 400 12px/18px "Montserrat", sans-serif;
    letter-spacing: 0.25px;
}
.main__page {
    display: flex;
    margin-top: 0.625em;
    margin-bottom: 0.67em;
    font: 700 48px/56px "Montserrat", sans-serif;
}
.first-section {
    display: flex;
}
.main__list {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0;
    gap: 0.8%;
    font: semi-condensed 600 14px/20px "Montserrat", sans-serif;
}
.main__link {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 0.4em 0.5em;
    border: #C1C5CD 1px solid;
    border-radius: 24px;
    color: #333333;
}
.link-smile {
    background: url('../img/main__smiling-face.png') no-repeat 8px 6px;
    padding-right: 0.5em;
    padding-left: 2.2em;
}
.link-unicorn {
    background: url('../img/main__unicorn.png') no-repeat 8px 6px;
    padding-right: 0.5em;
    padding-left: 2.2em;
}
.link-unicorn:hover {
    border: #16C8BB 2px solid;
}
.main__img{
    display: inline-block;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.second-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5em;
    margin-top: 1.5em;
    height: min(31em);
}
.third-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
    margin-top: 1.5em;
}
.card {
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: space-between;
}
.main__img {
    position: relative;
}
.main__article {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
}
.main__title {
    font: bold 18px/26px "Montserrat", sans-serif;
}
.main__author {
    font: 400 12px/18px "Montserrat", sans-serif;
    color: #494949;
    letter-spacing: 0.25px;
}
.main__excerpt {
    font: 400 14px/20px "Montserrat", sans-serif;
}
.publication-date {
    font: 400 12px/18px "Montserrat", sans-serif;
    color: #868686;
    letter-spacing: 0.25px;
}
.category__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 1;
}
.category__item {
    display: block;
    font: semi-condensed 600 14px/20px "Montserrat", sans-serif;
    color: #333333;
    padding: 0.4em 0.5em 0.4em 2.2em;
    border: #C1C5CD 1px solid;
    border-radius: 24px;
    background: url('../img/main__unicorn.png') 8px 6px/20px 20px no-repeat, #FFFFFF99;
}
.main__target-article {
    display: block;
    width: 100%;
    text-decoration: none;
}
.main__date {
    display: flex;
    margin: auto auto 1em 1em;
}
.main__btnbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.5em;
}
.main__morebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 11em;
    height: 3em;
    font: bold 16px "Montserrat", sans-serif;
    background: #35B3A9;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}
.footer {
    display: block;
    padding: 2.778% 8.333% 1.181% 8.333%;
    margin: 0;
    background-color: #2963A3;
    color: #ffffff;
}
.footer__content {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5em;
    justify-content: space-between;
}
.footer__list {
    display: grid;
    grid-template-columns: 6.94em 6.63em;
    grid-template-rows: repeat(5, 1.5em);
    -webkit-padding-start: 0;
    justify-content: start;
    grid-gap: 1em 5.813em;
}
.footer__link {
    text-wrap: nowrap;
    text-decoration: none;
    color: #ffffff;
    font: bold 16px/24px "Montserrat", sans-serif;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__subscription {
    display: flex;
    flex-direction: column;
    width: 40.5%;
    gap: 0.5em;
}
.footer__message {
    color: #ffffff;
    font: bold 18px/26px "Montserrat", sans-serif;
    width: 79.012%;
}
.footer__input-btn-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 1em 0 1em 0;
    z-index: 0;
}
.footer__input {
    position: absolute;
    color: #9D9D9D;
    width: 79.012%;
    height: 3.43em;
    /*height: 48px;*/
    font: 14px/20px "Montserrat", sans-serif;
    padding: 1em;
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
    z-index: 1;
}
.footer__sendbtn {
    position: absolute;
    background: #16C8BB;
    width: 4.57em;
    height: 3.6em;
    /*height: 48px;*/
    z-index: 2;
    left: 24.3em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.footer__input-arrow{
    position: absolute;
    z-index: 3;
    width: 1.6em;
    height: 1.6em;
    left: 21.5em;
    cursor: pointer;
}
.footer__agreement {
    font: 12px/18px "Montserrat", sans-serif;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    opacity: 70%;
}
.footer__social {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.footer_social-networking {
    display: flex;
    gap: 1em;
    cursor: pointer;
}
.footer__icon {
    cursor: pointer;
}
.footer__copyright-block {
    display: flex;
    padding-top: 1em;
    opacity: 70%;
    border-top: 1px solid rgba(62%, 62%, 62%, 30%);
}
.footer__final-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    gap: 3em;
    color: #FFFFFF;
}
.footer__final-item, .footer__final-link {
    color: #ffffff;
    font: 400 14px/20px "Montserrat", sans-serif;
}
.footer__final-link:hover {
    text-decoration: underline;
}
@media (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
    .header {
        padding-left: 32px;
        padding-right: 32px;
        border-bottom: rgba(94%, 95%, 95%, 50%) 2px solid;
    }
    .header-menu {
        padding-left: 2em;
    }
    .header__menu-list {
        gap: 1em;
    }
    .content {
        padding: 1em 2em 3.75em 2em;
    }
    .main__way {
        padding: 0;
    }
    .main__page {
        margin-top: 0.83em;
    }
    .main__list {
        flex-wrap: wrap;
        gap: 0.5em;
    }
    .main__btnbox {
        padding-top: 2.1875em;
    }
    .footer {
        padding: 2.5em 1.625em 1.0625em 2.375em;
    }
    .footer__list {
        grid-gap: 1em 1.875em;
    }
    .footer__subscription {
        width: 46.875%;
    }
    .footer__message {
        width: 79.1%;
    }
    .footer__input {
        width: 85.33%;
    }

}
@media (max-width: 768px) {
    .page {
        max-width: 768px;
    }
    .header {
        padding: 0;
    }
    .header__inner {
        margin: 0;
        padding: 1.125em 1.125em 1.125em 1.25em;
        justify-content: space-between;
        align-items: center;
    }
    .menu-wrapper {
        width: 100%;
        height: 2.5em;
        justify-content: space-between;
    }
    .header-menu, .header__button {
        display: none;
    }
    .menu-icon {
        display: flex;
        justify-content: center;
        position: relative;
        width: 2.5em;
        height: 2.5em;
    }
    .menu-icon::before, .menu-icon::after, .menu-icon span {
        position: absolute;
        width: 50%;
        height: 2px;
        background: #16C8BB;
        transition: .3s;
    }
    .menu-icon::before {
        content: "";
        top: 10px;
    }
    .menu-icon::after {
        content: "";
        bottom: 10px;
    }
    .menu-icon span {
        top: 17px;
    }
    #menu-toggle:checked ~ .menu-icon::before {
        transform: rotate(-45deg);
        top: 17px;
    }
    #menu-toggle:checked ~ .menu-icon::after {
        transform: rotate(45deg);
        bottom: 17px;
    }
    #menu-toggle:checked ~ .menu-icon span {
        display: none;
    }
    #menu-toggle:checked ~ .menu-icon ~ .header-menu {
        display: flex;
    }
    .header__menu-list {
        position: fixed;
        flex-direction: column;
        text-align: center;
        gap: 0.8em;
        padding: 0 3em;
        top: 1.25em;
        left: 36%;
        background: rgba(142,135,124,0.25);
        border-radius: 5%;
    }
    .header__menu-link {
        font-weight: 900;
    }
    #menu-toggle:checked ~ .menu-icon {
        display: flex;
        position: fixed;
        top: 1.125em;
        right: 1.125em;
        justify-content: center;
        border: #16C8BB 2px solid;
        border-radius: 50%;
    }
    .content {
        padding: 1em 1.25em 3.4375em 1.25em;
    }
    .second-section {
        display: flex;
        flex-direction: column;
        gap: 1.5em; /*24px*/
        height: auto;
    }
    .third-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .main__btnbox {
        padding-top: 2.0625em;
    }
    .footer {
        padding: 2.1875em 1.25em 1.4375em 1.25em; /*35 20 23 20px*/
    }
    .footer__content {
        display: grid;
        grid-template-areas:
            "f-links f__subs"
            "f__social f__social";
        grid-template-columns: 16em auto;
        grid-column-gap: 1.3em;
        grid-row-gap: 1.625em;
        padding-bottom: 1.7em;
    }
    .footer__links {
        grid-area: f-links;
    }
    .footer__subscription {
        grid-area: f__subs;
        width: 28.125em;/*450px;*/
    }
    .footer__social {
        grid-area: f__social;
    }
}
@media (max-width: 414px) {
    .page {
        max-width: 414px;
    }
    .header__inner {
        padding: 1em 1em 1em 1.5em;
    }
    .header__menu-list {
        padding: 0 2em;
        left: 30%;
    }
    .content {
        padding-top: 1em;
        padding-bottom: 3.6875em;
    }
    .main__page {
        margin-top: 1em;
        margin-bottom: 0.75em;
        font: bold 32px/40px Montserrat;
    }
    .main__keywords {
        overflow-x: auto;
    }
    .main__list {
        flex-wrap: nowrap;
    }
    .second-section {
        margin-top: 1em;
    }
    .third-section {
        display: flex;
        flex-direction: column;
        gap: 1em; /*16px*/
        margin-top: 1em;
    }
    .disappearing-card {
        display: none;
    }
    .main__btnbox {
        padding-top: 1.75em;
    }
    .footer {
        padding: 2.1875em 1.25em 2.3125em 1.1875em; /*35 20 37 19px*/
    }
    .footer__content {
        display: flex;
        flex-direction: column;
        gap: 1.4375em;
        padding-bottom: 1.25em;
    }
    .footer__list {
        grid-gap: 1em 9.2em;
    }
    .footer__subscription {
        width: 100%;/*450px;*/
    }
    .footer__input {
        width: 100%;
    }
    .footer__sendbtn {
        width: 4em;
        left: 24.1em;
    }
    .footer__input-arrow{
        width: 1.6em;
        left: 21.1em;
    }
    .footer__social {
        gap: 1.25em;
    }
    .footer__copyright-block {
        padding-top: 1.25em;
    }
    .footer__final-links {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.25em;
    }
}
@media (max-width: 320px) {
    .page {
        max-width: 320px;
    }
    .header__inner {
        padding: 0.8em 0.8em 0.8em 1em;
    }
    .header__menu-list {
        padding: 0 1.5em;
        top: 1.25em;
        left: 25%;
    }
    .content {
        padding-top: 1.5em;
    }
    .main__page {
        margin-top: 1em;
        margin-bottom: 1em;
        font: bold 24px/32px Montserrat;
    }
    .second-section {
        margin-top: 1.5em;
    }
    .footer {
        padding-right: 0.875em; /*14px*/
        padding-left: 1.125em; /*18px*/
    }
    .footer__content {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-bottom: 1.25em;
    }
    .footer__list {
        grid-column-gap: 4em;
    }
    .footer__subscription {
        padding-top: 1.4375em;
        padding-bottom: 0;
    }
    .footer__input {
        width: 100%;
    }
    .footer__sendbtn, .footer__input-arrow {
        display: none;
    }
    .footer__social {
        gap: 1.25em;
    }
    .footer__copyright-block {
        padding-top: 1.25em;
    }
    .footer__final-links {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.25em;
    }
}