* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    box-sizing: border-box;
    text-decoration: none;
    /*border: grey 1px dotted;*/
}
.page {
    max-width: 1440px;
    display: block;
}
.page-wrapper {
    margin: 0 8.333%;
    background: repeating-linear-gradient(to right, rgba(100%, 86%, 86%, 0.6), rgba(100%, 86%, 86%, 0.6) 6.5%, transparent 6.5%, transparent 8.5%) center top;
    border: rgba(255, 255, 255, 1) 1px solid;
    /*ВОПРОС. Почему в случае выключения данного border-а у body появляется margin?*/
    /*Причем этот margin съедает margin у header__inner (ниже равен 1.5%)*/
}
h1 {
    font: 900 48px/56px "Montserrat", sans-serif;
 }
h2 {
    font: 900 16px/24px "Montserrat", sans-serif;
}
h3 {
    font: 900 24px/32px "Montserrat", sans-serif;
}
p {
    font: 500 16px/24px "Montserrat", sans-serif;
}
.header {
    border-bottom: #EFF2F280 2px solid;
    /*ВОПРОС. В макете задан box-shadow, но не вижу, как задать его только снизу.*/
    /*Верно ли использовать border-bottom?*/
    position: sticky;
    margin-top: 0;
}
.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5% 0 1.5% 0;
}
.menu-wrapper {
    display: flex;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
}
.logo__image {
    display: inline-block;
    width: 51px;
    height: 36px;
}
#menu-toggle, .menu-icon {
    display: none;
}
.header-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 7.7%;
}
.header__menu-list {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    gap: 1.9em;
}
.header__menu-item{
    display: flex;
    margin: 0;
}
.ghost--item {
    display: none;
    /*Данный пункт меню почему-то отсутствует в моем макете на странице со статьей*/
}
.header__menu-link, .header__menu-link_dropdown {
    font: 500 14px/114% "Montserrat", sans-serif;
    /*ВОПРОС. Как разные шрифты Montserrat из папки fonts подключать? Они по weight автоматически подключаются?*/
    letter-spacing: 0.25px;
}
.header__menu-link:hover, .header__menu-link_dropdown:hover {
    text-decoration: underline;
}
.menu-item--dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-nav {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-nav__item {
    list-style: none;
}
.dropdown-nav__link {
    color: black;
    padding-top: 0.8em;
    display: block;
}
.menu-item--dropdown:hover .dropdown-nav {
    display: block;
}
.header__menu-link_dropdown {
    background: url('../img/header_arrow.svg') right/0.8em 0.8em no-repeat;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    cursor: pointer;
    border: none;
    border-radius: 0.25em;
}
.header__button {
    padding: 1em 1em 1em 1em;
    font: bold 16px "Montserrat", sans-serif;
    background: rgba(89%, 96%, 96%, 0.5);;
    color: #03B2A5;
}
.content {
    display: grid;
    grid-template-areas:
            "m__w m__w"
            "m__c m__r-b"
            "m__fp m__fp";
    grid-template-columns: 57.5% 23.5%;
    grid-column-gap: 14.2em;
    z-index: 0;
    position: relative;
    overflow: hidden;
}
.main__way {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    grid-area: m__w;
    padding-top: 1em;
    padding-left: 0.4em;
    padding-bottom: 4.5em;
}
.main__place {
    color: rgb(20%, 20%, 20%, 0.7);
    font: 400 12px/18px "Montserrat", sans-serif;
    letter-spacing: 0.25px;
}
.main__place_blog {
    text-decoration: none;
    color: rgb(20%, 20%, 20%, 0.7);
    font: 400 12px/18px "Montserrat", sans-serif;
    letter-spacing: 0.25px;
}
.main__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: m__c;
    gap: 1.5em;
}
.main__intro {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main__page {
    display: flex;
    padding-bottom: 0.375em;
}
.main__author-date {
    display: flex;
    gap: 0.5em;
    padding-bottom: 1.4em;
    font: 400 14px/20px "Montserrat", sans-serif;
}
.restored-part {
    display: none;
}
.big--picture {
    width: 100%;
    max-height: 20.7em;
    /*ВОПРОС. Как лучше выбирать надпись для аттрибута alt у img и название?*/
    opacity: 0.8;
}
.main__toc {
    width: 85.2%;
}
.main__toc_title {
    font: 700 16px/24px "Montserrat", sans-serif;
    padding-bottom: 1em;
}
.main__toc_list {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding-left: 2em;
}
.main__toc_list__inner {
    padding-left: 1.1em;
}
.main__toc_item, .main__toc_item--second-level, .main__toc_item--third-level,
.main__toc_item--forth-level {
    padding-top: 0.25em;
    font: 500 16px/24px "Montserrat", sans-serif;
    text-decoration: underline;
}
.main__toc_item::marker {
    color: #03B2A5;
    font-size: 1.5em;
    /*ВОПРОС. Как выровнять буллит по вертикали (в первой строчке замечено)?*/
}
.main__toc_item--second-level, .main__toc_item--third-level,
.main__toc_item--forth-level {
    list-style: none;
}
.main__first-article_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.main__first-article--quotation-marks {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    z-index: 1;
}
.main__heading{
    font: 700 24px/32px "Montserrat", sans-serif;
    padding: 0;
}
.main__block-quote {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin-top: 2.5em;
    position: relative;
    gap: 0.5em;
    background: rgb(95%, 97%, 100%, 30%);
    border-radius: 1em;
}
.main__block-quote p {
    padding-top: 0.625em;
}
.block-quote__text {
    font: italic 16px/24px "Montserrat", sans-serif;
}
.block-quote__author {
    font: 900 16px/24px "Montserrat", sans-serif;
}
.main__second-article, .main__third-article, .main__epilogue {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.main__article-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 0 0 2em;
}
.main__item {
    font: 500 16px/24px "Montserrat", sans-serif;
}
.main__item::marker {
    color: #03B2A5;
    font-size: 1.5em;
}
.main__picture-comment {
    font: 400 14px/130% "Montserrat", sans-serif;
    margin-top: 1em;
    color: #868686;
    letter-spacing: 0.25px;
}
.main__second-article_block-with-cito {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.main__second-article_idea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6.5em 2.3em 6.475em;
    position: relative;
}
.main__idea {
    font: 400 italic 16px/24px "Montserrat", sans-serif;
    padding-top: 1.5em;
    z-index: 1;
    text-align: center;
}
.main__idea--background {
    position: absolute;
    /*opacity: 70%;*/
    width: 15em;
    height: 10em;
    top: 0;
}
.main__text_table-with-img {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.table-with-img__picture {
    width: 41%;
    opacity: 0.8;
}
.main__exercise {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 0.5em;
    border-radius: 1em;
}
.exercise--orange-background {
    background: rgb(100%, 98%, 93%, 30%);
}
.exercise--pink-background {
    background: rgb(100%, 95%, 92%, 50%);
}
.main__third-article {
    width: 43em;
}
.article-list--thin {
    width: 36.25em;
}
.main__text_table-with-imgs {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(2, 1fr);
}
.table-with-imgs__picture {
    opacity: 0.8;
    width: 100%;
}
.main__epilogue-picture {
    display: inline-block;
    width: 11em;
    height: 2em;
    margin: 0 auto;
    opacity: 0.8;
}
.exercise--green-background {
    background: rgb(1%, 70%, 65%, 10%);
}
.aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    justify-content: start;
    grid-area: m__r-b;
}
.main__free-windows {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    width: 100%;
    padding: 1.5em;
    gap: 1.5em;
    background: #0063A815;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    opacity: 0.8;
}
.main__free-windows_title {
    text-align: center;
    font: bold 18px/24px "Montserrat", sans-serif;
}
.main__free-windows_text {
    text-align: center;
    font: 14px/20px "Montserrat", sans-serif;
}
.main__free-windows_btnbox {
    display: flex;
}
.main__btn {
    flex-grow: 1;
    cursor: pointer;
    height: 3em;
    font: bold 16px/24px "Montserrat", sans-serif;
    background: #35B3A999;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 0 2em 0 2em;
}
.main__psychologist-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.75em;
    padding: 1em;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 30px 50px #EFF5FB;
}
.main__psychologist-block_top-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 0;
}
.main__communication-list {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0;
    gap: 0.5em;
    text-decoration: none;
    font: 12px/18px "Montserrat", sans-serif;
    letter-spacing: 0.25px;
    z-index: 2;
}
.main__communication_item-chat {
    display: inline-block;
    text-wrap: nowrap;
    list-style: none;
    cursor: pointer;
    width: 57%;
    background: rgb(95%, 96%, 97%, 30%);
    border-radius: 6%;
}
.main__communication_item-chat:hover {
    text-decoration: underline;
}
.main__communication_item-video {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    width: 35%;
    background: rgb(95%, 96%, 97%, 30%);
    border-radius: 6%;
}
.main__communication_item-video:hover {
    text-decoration: underline;
}
.main__communication_item-video::before {
    content: url('../img/art_main_RB_video.png');
}
.main__communication_item-chat::before {
    content: url('../img/art_main_RB_Chat.png');
}
.main__psychologist-block_photo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2em;
    width: 7em;
    height: 7em;
    opacity: 0.8;
}
.main__psychologist-block_middle-part {
    box-shadow: 0 1px #DEDEDE;
    padding: 1em 0;
}
.main__psychologist-block_name, .main__psychologist-block_profession,
.main__psychologist-age {
    text-align: center;
}
.main__psychologist-block_name {
    font: bold 20px/28px "Montserrat", sans-serif;
}
.main__psychologist-block_profession {
    font: 700 16px/24px "Montserrat", sans-serif;
}
.main__psychologist-age {
    display: flex;
    justify-content: center;
    font: 14px/20px "Montserrat", sans-serif;
    color: #A2A7B1;
    gap: 0.5em;
    opacity: 50%;
}
.main__psychologist-block_bottom-part {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 0.5em;
}
.main__psychologist-block_question {
    font: bold 16px/24px "Montserrat", sans-serif;
}
.main__symptoms-list {
    padding-left: 1.5em;
}
.main__symptoms-list_item {
    font: 14px/20px "Montserrat", sans-serif;
}
.main__symptoms-list_item::marker {
    color: #03B2A5;
    font-size: 1.5em;
}
.main__psychologist-block_btnbox {
    display: flex;
    padding: 1em 0 1.25em 0;
}
.main__take-care-block {
    display: flex;
    width: 100%;
    margin-bottom: 2.625em;
}
.main__take-care_img {
    width: 100%;
    opacity: 0.8;
}
.main__proposal-block {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    padding: 2em 3.375em 2em 2em;
    gap: 1em;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 30px 50px #EFF5FB;
}
.main__eight-sections {
    font: bold 18px/26px "Montserrat", sans-serif;
    color: #2963A3;
}
.main__proposal-block--accent {
    font: bold 24px/32px "Montserrat", sans-serif;
    color: #2963A3;
}
.main__eight-sections_text {
    font: 14px/20px "Montserrat", sans-serif;
    color: #011632;
}
.main__eight-sections_price {
    font: bold 24px/32px "Montserrat", sans-serif;
}
#buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.75em;
    height: 3em;
}
.main__eightsections_first-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-bottom-right-radius: 16px;
    opacity: 0.8;
}
.main__eightsections_second-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-bottom-right-radius: 16px;
    opacity: 0.8;
}
.main-container__final-part {
    display: flex;
    flex-direction: column;
    grid-area: m__fp;
    border-top: #DEDEDE 1px solid;
}
.main__epilogue_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    width: 57.5%;
    margin-top: 1.75em;
    gap: 0.5em;
}
.main__epilogue_item {
    font: 400 14px/20px "Montserrat", sans-serif;
    color: #2963A3;
}
.main-container__problem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    height: 27.5em;
}
.last-article__wrapper {
    display: flex;
    flex-direction: column;
    width: 29%;
    height: 17.5em;
    align-items: start;
    gap: 1.5em;
}
.last-article__text {
    font: 400 18px/26px "Montserrat", sans-serif;
}
.last-button {
    margin-top: 0.5em;
}
.main-container__last-picture {
    display: flex;
    margin-right: 1em;
    width: 44%;
    opacity: 0.8;
}
.main-container__big-blotch {
    /*ВОПРОС. Как персиковые пятна выдвинуть за пределы body и обрезать?*/
    /*Я смогла выдвинуть только за пределы контейнера, который внутри body с padding: 0 120px;*/
    position: absolute;
    right: -41%;
    top: 43.2%;
    opacity: 0.8;
}
.main-container__blotch {
    position: absolute;
    right: -20%;
    bottom: 3.2%;
}
.main-container__blue-blotch {
    position: absolute;
    bottom: 0;
    opacity: 0.4;
}
.footer {
    display: block;
    padding: 2.778% 8.333% 1.181% 8.333%;
    margin: 0;
    background-color: #2963A3;
    color: #ffffff;
}
.footer__content {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5em;
    justify-content: space-between;
}
.footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1.5em);
    margin: 0;
    -webkit-padding-start: 0;
    padding-left: 0;
    justify-content: start;
    grid-column-gap: 5.813em;
    grid-row-gap: 1em;
    list-style: none;
}
.footer__link {
    text-decoration: none;
    color: #ffffff;
    font: bold 16px/24px "Montserrat", sans-serif;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__subscription {
    display: flex;
    flex-direction: column;
    width: 40.5%;
    gap: 0.5em;
}
.footer__message {
    color: #ffffff;
    font: bold 18px/26px "Montserrat", sans-serif;
    width: 79.012%;
}
.footer__input-btn-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 1em 0 1em 0;
    z-index: 0;
}
.footer__input {
    position: absolute;
    color: #9D9D9D;
    width: 79.012%;
    height: 3.4em;
    font: 14px/20px "Montserrat", sans-serif;
    padding: 1em;
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
    z-index: 1;
}
.footer__sendbtn {
    position: absolute;
    background: #16C8BB;
    width: 4.8em;
    height: 3.6em;
    z-index: 2;
    left: 24em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.footer__input-arrow{
    position: absolute;
    z-index: 3;
    width: 1.6em;
    height: 1.6em;
    left: 21.3em;
    cursor: pointer;
}
.footer__agreement {
    font: 12px/18px "Montserrat", sans-serif;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    opacity: 70%;
}
.footer__social {
    display: flex;
    flex-direction: column;
}
.footer_social-networking {
    display: flex;
    gap: 1em;
    margin-top: 2.3em;
    cursor: pointer;
}
.footer__icon {
    cursor: pointer;
}
.footer__copyright-block {
    display: flex;
    padding-top: 1em;
    opacity: 70%;
    border-top: 1px solid rgba(62%, 62%, 62%, 30%);
}
.footer__final-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    gap: 3em;
    color: #FFFFFF;
    list-style: none;
}
.footer__final-item, .footer__final-link {
    color: #ffffff;
    font: 400 14px/20px "Montserrat", sans-serif;
}
.footer__final-link:hover {
    text-decoration: underline;
}
@media (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
    .page-wrapper {
        margin: 0 2em;
        padding-bottom: 4.4375em;
        background-image: repeating-linear-gradient(to right, #fecccb, #fecccb 6.5%, transparent 6.5%, transparent 8.5%);
    }
    .header-menu {
        padding-left: 2em;
    }
    .header__menu-list {
        gap: 1em;
    }
    .content {
        grid-template-columns: 74.38% 23.13%;
        grid-column-gap: 1.5em;
    }
    .main__way {
        padding: 1em 0 0 0;
    }
    .main__page {
        margin-top: 1.125em;
        padding-bottom: 0.33em;
    }
    .main__author-date {
        padding-bottom: 1.71em;
    }
    .restored-part {
        display: flex;
        color: #2963A3;
    }
    .disappearing-part {
        display: none;
    }
    .main__block-quote {
        margin-top: 1.5em;
    }
    .main__idea--background {
        display: none;
    }
    .main__third-article, .article-list--thin {
        width: 100%;
    }
    .aside {
        padding-top: 3.375em;
    }
    .main__free-windows {
        margin-bottom: 1.5em;
        padding: 1.5em 1.25em;
    }
    .main__psychologist-block {
        padding: 1.5em 1.5em 1em 1.5em;
    }
    .main__psychologist-block_btnbox {
        padding: 1em 0 0.0625em 0;
    }
    .main__psychologist-block, .main__take-care-block {
        margin-bottom: 1.5em;
    }
    .main__symptoms-list_item:last-child {
        margin-top: 1em;
    }
    .main__proposal-block {
        padding: 1.5em;
        gap: 0;
    }
    .main__eight-sections, .main__eight-sections_text, .main__eight-sections_price {
        margin-bottom: 1em;
    }
    .main__eightsections_first-img {
        width: 42%;
    }
    .main__eightsections_second-img {
        width: 32%;
    }
    .footer {
        padding: 0 2.1em 0 2.1em;
        background-color: rgb(16%, 39%, 64%, 1);
    }
    .footer__wrapper {
        background-image: repeating-linear-gradient(to right, rgba(100%, 80%, 80%, 0.1), rgba(100%, 80%, 80%, 0.1) 6.5%, transparent 6.5%, transparent 8.5%);
        border: rgb(16%, 39%, 64%, 1) 1px solid;
    }
    .footer__content {
        margin-top: 2.5em;
    }
    .footer__list {
        grid-column-gap: 1.875em;
    }
    .footer__subscription {
        width: 46.875%;
    }
    .footer__message {
        width: 79.1%;
    }
    .footer__input {
        width: 85.33%;
    }
    .footer__copyright-block {
        margin-bottom: 1.0625em;
    }
}
@media (max-width: 768px) {
    .page {
        max-width: 768px;
    }
    .page-wrapper {
        margin: 0 1.125em 0 1.25em;
    }
    .header__inner {
        margin: 0;
        padding: 1.125em 0 1.125em 0;
        justify-content: space-between;
        align-items: center;
    }
    .menu-wrapper {
        width: 100%;
        height: 2.5em;
        justify-content: space-between;
    }
    .header-menu, .header__button {
        display: none;
    }
    .menu-icon {
        display: flex;
        justify-content: center;
        position: relative;
        width: 2.5em;
        height: 2.5em;
    }
    .menu-icon::before, .menu-icon::after, .menu-icon span {
        position: absolute;
        width: 50%;
        height: 2px;
        background: #16C8BB;
        transition: .3s;
    }
    .menu-icon::before {
        content: "";
        top: 10px;
    }
    .menu-icon::after {
        content: "";
        bottom: 10px;
    }
    .menu-icon span {
        top: 17px;
    }
    #menu-toggle:checked ~ .menu-icon::before {
        transform: rotate(-45deg);
        top: 17px;
    }
    #menu-toggle:checked ~ .menu-icon::after {
        transform: rotate(45deg);
        bottom: 17px;
    }
    #menu-toggle:checked ~ .menu-icon span {
        display: none;
    }
    #menu-toggle:checked ~ .menu-icon ~ .header-menu {
        display: flex;
    }
    .header__menu-list {
        position: fixed;
        flex-direction: column;
        text-align: center;
        gap: 0.8em;
        padding: 0 3em;
        top: 1.25em;
        left: 36%;
        background: rgba(142,135,124,0.25);
        border-radius: 5%;
    }
    .header__menu-link {
        font-weight: 900;
    }
    #menu-toggle:checked ~ .menu-icon {
        display: flex;
        position: fixed;
        top: 1.125em;
        right: 1.125em;
        justify-content: center;
        border: #16C8BB 2px solid;
        border-radius: 50%;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .main__content {
        gap: 0;
    }
    .main__toc_title {
        margin-top: 0.5em;
    }
    .main__first-article {
        margin-top: 0.75em;
    }
    .main__heading {
        margin-top: 0.75em;
    }
    .main__idea--background {
        display: block;
    }
    .main__text_table-with-img {
        display: grid;
        grid-template-columns: 18.375em 1fr;
        gap: 1em;
    }
    .table-with-img__picture {
        width: 100%;
    }
    .main__epilogue {
        margin-top: 1.5em;
    }
    .aside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 31.5em 15.125em;
        grid-column-gap: 1em;
        grid-row-gap: 1.25em;
        padding-top: 1.4375em;
    }
    .main__free-windows {
        padding: 1.41em 1.44em 0.9em 1.44em;
        gap: 0;
        align-items: center;
    }
    .main__free-windows_picture {
        width: 16.06em;
        height: 12.875em;
    }
    .main__free-windows_title, .main__free-windows_btnbox {
        padding-top: 1.5em;
    }
    .main__free-windows_text {
        padding-top: 0.5em;
    }
    .main__free-windows_btnbox {
        width: 100%;
    }
    .main__psychologist-block {
        padding: 1.5em 3.28em 2.25em 3.28em;
    }
    .main__take-care-block {
        text-wrap: nowrap;
        height: 100%;
    }
    .footer {
        padding: 0 1.25em;
    }
    .footer__content {
        display: grid;
        grid-template-areas:
            "f-links f__subs"
            "f__social f__social";
        grid-template-columns: 16em auto;
        grid-column-gap: 1.3em;
        grid-row-gap: 1.625em;
        padding-bottom: 1.44em;
    }
    .footer__links {
        grid-area: f-links;
    }
    .footer__subscription {
        grid-area: f__subs;
        width: 28.125em;/*450px;*/
    }
    .footer__social {
        grid-area: f__social;
    }
}
@media (max-width: 414px) {
    .page {
        max-width: 414px;
    }
    .page-wrapper {
        margin: 0;
        background-image: none;
    }
    .header__inner {
        padding: 1em 1em 1em 1.5em;
    }
    .header__menu-list {
        padding: 0 2em;
        top: 1em;
        left: 26%;
    }
    .content {
        padding: 0 1.25em 3.6875em 1.25em;
    }
    .main__way {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .main__content {
        gap: 1.5em;
    }
    .main__page {
        font: bold 32px/40px Montserrat, sans-serif;
        margin: 0;
        padding-top: 1em;
        padding-bottom: 0.25em;
    }
    .main__author-date {
        padding-bottom: 1.14em;
    }
    .big--picture {
        opacity: 1;
    }
    .main__toc_title {
        margin-top: 1.5em;
    }
    .main__heading {
        margin-top: 0;
    }
    .main__first-article--quotation-marks {
        width: 1.9em;
        height: 2.25em;
    }
    .main__block-quote {
        background: rgb(95%, 97%, 100%, 100%);
    }
    .main__second-article {
         width: 100%;
    }
    .main__second-article_idea {
        padding: 0;
    }
    .main__text_table-with-img {
        display: flex;
        flex-direction: column;
    }
    .table-with-img__picture {
        opacity: 1;
    }
    .main__exercise {
        padding: 1em;
    }
    .exercise--orange-background {
        background: rgb(100%, 98%, 93%, 100%);
    }
    .exercise--pink-background {
        background: rgb(100%, 95%, 92%, 100%);
    }
    .main__text_table-with-imgs {
        display: flex;
        flex-direction: column;
    }
    .table-with-imgs__picture {
        opacity: 1;
    }
    .first__place {
        order: 1;
    }
    .third__place {
        order: 3;
    }
    .second__place {
         order: 2;
    }
    .fourth__place {
        order: 4;
    }
    .main__epilogue {
        margin-top: 0;
    }
    .main__btn {
        background: #35B3A9;
    }
    .aside {
        display: flex;
        flex-direction: column;
        padding-top: 3.5em;
        gap: 0;
    }
    .main__free-windows, .main__psychologist-block_photo, .main__take-care_img,
    .main__eightsections_first-img, .main__eightsections_second-img {
        opacity: 1;
    }
    .main__free-windows {
        padding: 1.5em 2em 2.75em 2em;
    }
    .main__psychologist-block {
        padding: 1.5em 3.875em 2.25em 3.875em;
    }
    .main__communication-list {
         margin-left: -3em;
     }
    .main__psychologist-block_photo {
        margin-top: -2em;
    }
    .main__psychologist-block_middle-part {
        box-shadow: none;
        border-bottom: 1px #DEDEDE solid;
    }
    .main__symptoms-list_item:last-child {
        margin-top: 0;
    }
    .footer {
        padding: 0;
    }
    .footer__content {
        display: flex;
        flex-direction: column;
        padding: 2.1875em 1.25em 1.25em 1.1875em;
    }
    .footer__wrapper {
        background-image: none;
        border: none;
    }
    .footer__list {
        grid-column-gap: max(9em);
    }
    .footer__subscription, .footer__message {
        width: 100%;
    }
    .footer__sendbtn {
        left: 23em;
    }
    .footer__input-arrow {
        left: 20.5em;
    }
    .footer__social {
        margin-bottom: 0;
    }
    .footer_social-networking {
        margin-top: 1.25em;
    }
    .footer__copyright-block {
        padding-left: 1.25em;
        padding-bottom: 2.3125em;
    }
    .footer__final-links {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.25em;
    }
}
@media (max-width: 320px) {
    .page {
        max-width: 320px;
    }
    .header__inner {
        padding: 0.5em 0.5em 0.5em 1em;
    }
    .page-wrapper {
        padding: 0;
    }
    .content {
        padding: 1em 1em 3.75em 1em;
    }
    .main__page {
        font: bold 24px/32px Montserrat, sans-serif;
        padding-top: 1.33em;
        padding-bottom: 0.33em;
    }
    .main__toc_title {
        margin-top: 1em;
    }
    .main__content {
        gap: 1em;
    }
    .main__block-quote {
        margin-top: 2.5em;
    }
    .main__article-block {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .main__heading {
        font: 700 18px/26px "Montserrat", sans-serif;
    }
    .main__article-list {
        gap: 0.5em;
    }
    .main__second-article {
        gap: 1em;
    }
    .main__idea--background {
        width: 15em;
        height: 10.5em;
    }
    .main__second-article_block-with-cito {
        gap: 1em;
    }
    .main__idea {
        padding-top: 0;
    }
    .main__third-article {
        gap: 1em;
    }
    .main__text_table-with-imgs {
        gap: 1em;
    }
    .main__epilogue {
        gap: 1em;
    }
    .aside {
        padding-top: 1em;
    }
    .main__free-windows {
        padding: 1.5em 1.5em 1.5em 1.56em;
    }
    .main__psychologist-block {
        padding-right: 1.1875em;
        padding-left: 1.1875em;
    }
    .main__communication-list {
        margin-left: 0;
    }
    .footer__list {
        grid-column-gap: 4.2em;
    }
    .footer__sendbtn, .footer__input-arrow {
        display: none;
    }
    .footer__input {
        width: 100%;
    }
    .footer__social {
        margin-top: -1.25em;
    }
    .footer__content, .footer__copyright-block {
        padding-right: 0.875em;
        padding-left: 1.125em;
    }
}